#loading {
  margin-left: 100%;
  margin-top: -14%;
}

body {
  background-image: url("../../utils/turtle-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#login-btn {
  width: 45%;
}

#register-btn {
  margin-left: 10%;
  width: 45%;
}

#registration {
  width: 100%;
}

#k-logo {
  margin-left: 45.5%;
  margin-bottom: -12.5%;
  height: 200px;
  width: 200px;
}

#inputs {
  margin-top: 15%;
  margin-left: 42.5%;
  display: flex;
  flex-direction: column;
  max-width: 20em;
  border-radius: 10px;
}

.component-outlined {
  background-color: rgba(255, 255, 255, 0.651);
}

#btns {
  max-width: 16.75%;
  margin-left: 42.5%;
  border-radius: 10px;
}

#forgot {
  color: white;
  text-align: center;
  margin-left: -7.5%;
}

#success {
  font-size: 16px;
  color: #3f51b5;
  text-align: center;
}

#login-fail {
  font-size: 16px;
  color: #ff0000;
  text-align: center;
}
