@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");

#bar {
  color: rgba(0, 0, 0, 0.897);
  border-radius: 10px;
}

#link {
  margin-right: 2.5%;
}

#link:link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

#link:visited {
  color: rgb(0, 0, 0);
}

h3 {
  font-weight: normal;
}

#Kwittext {
  font-family: "Crete Round", serif;
  text-align: center;
  color: skyblue;
  font-size: 50px;
}

#simplicity {
  color: gray;
  font-family: "Crete Round", serif;
  font-style: italic;
  font-size: 10px;
  margin-top: -1.25%;
  text-align: center;
}
