@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
:root {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

#main-bar {
  background-color: #3f51b5e1;
  border-radius: 50px;
}

#Kwittext {
  font-family: "Crete Round", serif;
  text-align: center;
  color: skyblue;
  margin-left: 2%;
  font-size: 50px;
}

#simplicity {
  color: gray;
  font-family: "Crete Round", serif;
  font-style: italic;
  font-size: 10px;
  margin-top: -1.25%;
  margin-left: 2%;
  text-align: center;
}
