@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.btn {
  height: 25px;
  width: 150px;
}

#welcome {
  font-family: "Amatic SC", "Arial";
  color: rgba(255, 255, 255, 0.521);
  text-align: center;
}

#friends {
  font-family: "Amatic SC", "Arial";
  color: rgba(255, 255, 255, 0.521);
  text-align: center;
}
